body{
  width: 100%;
  background-color: black;
}
h3{
  color: chocolate;
}
h4{
  color: purple;
}
.main-header{
  position: fixed;
  width: 100%;
}
p{
  color: red;
  text-align: center;
  width: 75%;
}
.footer{
  color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  /*Added to the site for the flex*/
.flex-container {
  display: flex;
  background-color: black;
}

.flex-container > div {
  background-color: black;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  width: 50%;
}
/*End of css for flex*/ 
  
  li {
    display: inline-block;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

