body{
  background-color: black;
}
.main{
  background-color: black;
}
.main-header{
  position: fixed;
  width: 100%;
}
h3{
  color: chocolate;
}
h4{
  color: purple;
}
p{
  color:white;
  text-align: center;
  width: 75%;
}
.footer {
  color: white;
}
  /*Added to the site for the flex*/
  .flex-container {
    display: flex;
    background-color: black;
  }
  
  .flex-container > div {
    background-color: black;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    width: 50%;
  }
  /*End of css for flex*/ 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    
    display: inline-block;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }